{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <br>
    <br>
    <button type="button" class="btn btn-info"><a href="{% url 'inventory:product_update' product.id %}">Update
        The Product</a></button>
    <table class="h-75 table table-hover mt-5">
        <tbody>
        <tr>
            <td>Name</td>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <td>Tax</td>
            <td>{{ product.tax }}</td>
        </tr>
        <tr>
            <td>Pdf File</td>
            <td><a href="{{ product.pdf_file.url }}">Download Pdf</a></td>
        </tr>
        <tr>
            <td>Pic File</td>
            <td><a href="{{ product.pic_file.url }}">Download Pic</a></td>
        </tr>
        <tr>
            <td>Report</td>
            <td>{{ product.technical_report }}</td>
        </tr>
        </tbody>
    </table>

    Related Products
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for related_product in product.related_products.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ related_product.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}