{% extends 'base.html' %}
{% load static %}
{% block title %}Products Lists{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Product Detail</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Tax</th>
            <th scope="col">Pdf</th>
        </tr>
        </thead>
        <tbody>
        {% for product in product_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a class="btn btn-info" href="{% url 'inventory:product_detail' product.id %}">Show Product</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    {% if product.tax %}
                        <img src="{% static 'assets/True.jpg'%}" alt="True Picture">
                    {% else %}
                        <img src="{% static 'assets/False.jpg'%}" alt="False Picture">
                    {% endif %}
                </td>
                <td><a class="btn btn-info" href="{{ product.pdf_file.url }}">Download Pdf</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>Total Products :</td>
            <td colspan="4"></td>
            <td>{{ product_list.count }}</td>
        </tr>
        </tfoot>
    </table>
{% endblock %}