{% extends 'base.html' %}
{% load static %}

{% block title %}{{ organization.name }}{% endblock %}

{% block content %}
    <br>
    <br>
    <a class="btn btn-info" href="{% url 'organization:organization_update' organization.id %}">Update The
        Organization</a>
    <a class="btn btn-info" href="{% url 'quote:quote_create' %}">Making Quote</a>
    <a class="btn btn-info" href="{% url 'followup:add_report' organization.id %}">Reports</a>
    <table class="h-75 table table-hover mt-5">
        <tbody>
        <tr>
            <td>Province</td>
            <td>{{ organization.province }}</td>
        </tr>
        <tr>
            <td>Workers</td>
            <td>{{ organization.workers_count }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ organization.phone }}</td>
        </tr>
        <tr>
            <td>Registration Time</td>
            <td>{{ organization.registration_date }}</td>
        </tr>
        <tr>
            <td>Registrar</td>
            <td>{{ organization.registrar }}</td>
        </tr>
        <tr>
            <td>Contact Name</td>
            <td>{{ organization.contact_name }}</td>
        </tr>
        <tr>
            <td>Contact Phone</td>
            <td>{{ organization.contact_phone }}</td>
        </tr>
        <tr>
            <td>Products</td>
            <td>{{ products }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <h4> Related Products </h4>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Tax</th>
            <th scope="col">Catalog</th>
        </tr>
        </thead>
        <tbody>
        {% for related_product in related_products %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ related_product.name }}</td>
                <td>{{ related_product.price }}</td>
                <td>
                    {% if related_product.tax %}
                        <img src="{% static 'assets/True.jpg' %}" alt="True Picture">
                    {% else %}
                        <img src="{% static 'assets/False.jpg' %}" alt="False Picture">
                    {% endif %}
                </td>
                <td><a href="{{ related_product.pdf_file.url }}"><img
                        src="{% static 'assets/download-icon.png' %}" alt="Download Icon"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}