{% extends 'base.html' %}
{% block title %} List of Provinces {% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Province Edit</th>
            <th scope="col">Province Name</th>
        </tr>
        </thead>
        <tbody>
        {% for province in province_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a class="btn btn-info" href="{% url 'organization:province_update' province.id %}">Edit
                    Province</a></td>
                <td>{{ province.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>Total Province</td>
            <td colspan="1"></td>
            <td>{{ province_list.count }}</td>
        </tr>
        </tfoot>
    </table>
{% endblock %}