{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Report of {{ organization.name }} {% endblock %}

{% block content %}
    <form method="post" id="report-form">
        {% csrf_token %}
        {{ form |crispy }}
        <input type="submit" value="Save Report">
    </form>
    <br>
    <br>
    <table class="table table-hover" id="reports">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Registrar</th>
            <th scope="col">Date</th>
            <th scope="col">Report</th>
        </tr>
        </thead>
        <tbody>
        {% for followup in organization.followups.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ followup.registrar }}</td>
                <td>{{ followup.date }}</td>
                <td>{{ followup.report|truncatewords:5 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script>
        var frm =
        $(document).ready(function () {
           $.ajax()
        });
    </script>
{% endblock %}