{% extends 'base.html' %}
{% block title %}
    Quote Number {{ quote.id }}
{% endblock %}

{% block content %}
    <br>
    <br>
    <button class="btn btn-info noprint" onclick="window.print()">Print Pdf</button>
    <br>
    <br>
    <table class="table m-auto">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Organization</th>
            <td>{{ quote.organization.name }}</td>
        </tr>
        <tr>
            <th scope="row">Registrar</th>
            <td>{{ quote.registrar.name }}</td>
        </tr>
        <tr>
            <th scope="row">Registration Date</th>
            <td>{{ quote.registration_date }}</td>
        </tr>
        <tr>
            <th scope="row">Last Update</th>
            <td>{{ quote.updating_date }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h4>Items : </h4>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Discount</th>
            <th scope="col">Count</th>
            <th scope="col">Price</th>
        </tr>
        {% for item in quote.items.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product.name }}</td>
                <td>{{ item.off_percent }}</td>
                <td>{{ item.count_of_product }}</td>
                <td>{{ item.price_after_tax }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th scope="row">Total Count</th>
            <td colspan="2"></td>
            <td>{{ quote.total_count }}</td>
            <td>{{ quote.total_price }}</td>
        </tr>
        </tbody>
    </table>

    <style>

    </style>
{% endblock %}