{% extends 'base.html' %}
{% block title %}
    Quote List
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Details</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Products</th>
            <th scope="col">Download Quote</th>
            <th scope="col">Emailing Quote</th>
        </tr>
        </thead>
        <tbody>
        {% for quote in quote_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'quote:quote_detail' quote.id %}">Show Quote</a></td>
                <td>{{ quote.organization.contact_name }}</td>
                <td>{{ quote.items.all|join:',' }}</td>
                <td><a href="{% url 'quote:quote_pdf' quote.id %}">Pdf</a></td>
                <td><a href="{% url 'quote:send_mail' quote.id quote.organization.id%}">Send Email</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}